*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #415a77;
}
#root{
  display: flex;
  justify-content: center;
}

/* Heading styles */

div.heading{
  margin: 10px 0;
}

div.heading > h1{
  color: #fff;
}

div.heading > h1 >span{
  color: yellow;
}

/* container */

