*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #415a77;
}

/* #root{
  display: flex;
  justify-content: center;
} */

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

/* Heading styles */

/* div.heading{
  margin: 10px 0;
}

div.heading > h1{
  color: #fff;
}

div.heading > h1 >span{
  color: yellow;
} */

/* container */

div.main{
  border: 1px solid black;
  max-width: 70%;
  background-color: #394450;
  color: #fff;
}

div.port-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color:black;
}

div.port-smile-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
}

div >.smile-logo{
  width: 20px;
  height: 20px;
}

div.pages{
  margin-right: 9em;
}

div.pages > ul {
  display: flex;
  justify-content:space-between;
}
div.pages > ul > li {
  margin: 0 1em;
}


div.icons > ul {
  display: flex;
  justify-content:space-between;
  margin-right: 1.5em;
}

div.icons > ul > li {
  margin: 0 0.4em;
}

/* hero-section */

div.hero-section{
  border: 1px solid #fff;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

div.port-info{
  border: 1px solid red;
  margin: 60px 0px 0px 0px ;
  padding: 0.6em;
  flex: 2;
}

div.port-line{
  border: 2px solid yellow;
  max-width: 8.5em;
  margin: 1em 0;
}

div.name{
  font-size: 2em;
  color: #ccc;
}

span.name-size{
  font-size: 1.5em;
  color: #fff;
}

p.para{
  line-height: 1.25em;
}

div.port-services{
  border: 1px solid red;
  flex: 1;
  margin: 27px 60px 0 0;

}
div.sevices{
  color: #ccc;
}

div.service-paragraph > p{
  margin: 10px 0;
  line-height: 20px;
  word-spacing: 5px;
}

.show-more{
  margin: 15px 0;
  color: yellow;
}

span.arrow-icon{
  margin-left: 3px;
  /* border: 1px solid; */

}

div.social-icons > ul{
  /* border: 1px solid; */
  display: flex;
  /* justify-content: space-between; */
}
div.social-icons > ul > li{
  background-color: rgb(91, 100, 111);
  padding: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
li.social{
  margin-left: 10px;
}

div.social-icons > ul > li > a{
  color: yellow;
}
/* dsauvacbabc */

div.port-circle{
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  /* margin: 10px 0; */
  
}

div.circle{
  background-color: #000;
  border: 1px solid;
  height: 335px;
  width: 335px;
  border-radius: 50%;
  margin-top: -22em;
  margin-bottom: 30px;
  
}

div.port-links{
  display: flex;
  align-items: center ;
  border: 1px solid;
  margin: 10px 0;
  /* max-width: 55em; */
  height: 5.5em;
  background-color: red;
}

/* box-2 */

div.box-2{
    border: 1px solid;
    position: relative;
    padding: 0px 1.2em;
}

div.link{
  border: 1px solid;
  padding: 0.3rem 1rem;
  margin: 0 1rem;
  flex-grow: 1;
}

/* box-3 */

div.box-3{
  border: 2px solid red;
  background-color: #2d343b;
  height: 500px;
  margin-top: -3.5em;
  /* display: flex; */
}

div.port-needs{
  border: 1px solid blue;
  margin-top: 5em;
}

div.port-skills{
  border: 1px solid purple;
  margin-top: 5em;
}

